.about-me-content {
  text-align: center;
}

@media (min-width: 50em) {
  .about-me-content {
    display: flex;
  }
}

.about-me-content img {
  border-radius: 50%;
  height: 100px;
  margin: 18px;
  width: 100px;
}

.about-me-content p {
  padding: 0 1em 1em;
  text-align: left;
}
