.app {
}

main {
  margin: 25px;
}

.section-wrapper {
  background-color: #2a2e33;
  margin-bottom: 25px;
}

.section-header {
  background-color: #21252c;
  font-size: 1.25em;
  padding: 0.75em;
}

h1,
h2,
p {
  margin: 0;
}
