.app {
  text-align: center;
}

main {
  margin: 25px;
}

.section-wrapper {
  background-color: #2a2e33;
  margin-bottom: 25px;
}

.section-header {
  background-color: #21252c;
}

h1,
h2,
p {
  margin: 0;
}
