.app-footer {
  background-color: #2a2e33;
  padding: 0.5em;
  text-align: center;
}

.app-footer a {
  font-family: cursive;
  font-size: 1em;
}

.app-footer a:link,
.app-footer a:visited,
.app-footer a:hover,
.app-footer a:active {
  color: #dfe4e6;
  text-decoration: none;
}
